
<% include ../layout/header.ejs %>
<% include ../layout/content.ejs %>
	
<div class="container">
	<h1>LIST PAGE</h1>
	<table class="list-board">
		<thead>
			<tr>
				<th style="width:5%;">번호</th>
				<th>제목</th>
				<th style="width:10%;">글쓴이</th>
				<th style="width:13%;">등록일</th>
				<th style="width:5%;">조회</th>
			</tr>
		</thead>
		<tbody>
			<% data.forEach(function (item, index) { %>
			<tr>
				<td><input type="hidden" value="<%= item.idx %>" /> <%= index+1 %></td>
				<td style="text-align:left;padding:3px 5px;"><a href="/angelwing/angledetail?idx=<%= item.idx %>&hit=<%= item.hit %>" onclick="fn_showContent(<%= item.idx %>);"><%= item.title %></a></td>
				<td><%= item.writer %></td>
				<td><%= item.regdate %></td>
				<td><%= item.hit %></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
	<div style="float:right;margin:7px 0 0"><a href="/insert"><button>글 쓰기</button></a></div>
	<a href="/grid" >go grid </a>
<div>
<script>
	function fn_showContent(idx){
		alert("dddd");
	};
</script>	
