
<% include ../layout/header.ejs %>
<% include ../layout/content.ejs %>
	
<div class="container">
	<h1>LIST PAGE</h1>
	<a href="/insert"><button>글 쓰기</button></a>
	<hr/>
	<table class="list-board">
		<tr>
			<th style="width:5%;">순번</th>
			<th>제목</th>
			<th style="width:10%;">작성자</th>
			<th style="width:13%;">등록일</th>
			<th style="width:5%;">조회수</th>
		</tr>
		<% data.forEach(function (item, index) { %>
		<tr>
			<td><input type="hidden" value="<%= item.idx %>" /> <%= index+1 %></td>
			<td><a href="/angelwing/angledetail?idx=<%= item.idx %>&hit=<%= item.hit %>" 
			onclick="fn_showContent(<%= item.idx %>);"><%= item.title %></a></td>
			<td><%= item.writer %></td>
			<td><%= item.regdate %></td>
			<td><%= item.hit %></td>
		</tr>
		<% }); %>
	</table>
	
	<a href="/grid" >go grid </a>
	<hr />
	
<div>
<script>
function fn_showContent(idx){
	alert("dddd");
};
</script>	
