
<% include ../layout/header.ejs %>
	
<div class="container">
	<h1>CONTENT PAGE</h1>
	<a href="javascript:history.back()"><button>목록</button></a>
	<hr/>
	<table class="list-board">
		<% data.forEach(function (item, index) { %>
			<tr>
				<th><%= item.title %></th>
				<th style="width:13%;"><%= item.regdate %></th>
				<th style="width:10%;">조회수<%= item.hit %></th>
			</tr>
			<tr>
				<th colspan="3"   style="text-align: left;" ><%= item.writer %></th>
			</tr>
			<tr>
				<th colspan="3"  style="height : 300px;"><%= item.content %></th>
			</tr>
		<% }); %>
	</table>
	<button>글 쓰기</button>
	<hr />
<div>
<script>
function fn_showContent(idx){
	alert("dddd");
};
</script>	
