
<% include ../layout/header.ejs %>
	
<div class="container">
	<h1>CONTENT PAGE</h1>
	<button><a href="/AngelWing/Angel">목록</a></button>
	<hr/>
	<table class="list-board">
			<tr>
				<th><%= data.title %></th>
				<th style="width:13%;"><%= data.regdate %></th>
				<th style="width:10%;">조회수<%= data.hit %></th>
			</tr>
			<tr>
				<th colspan="3"   style="text-align: left;" ><%= data.writer %></th>
			</tr>
			<tr>
				<th colspan="3"  style="height : 300px;"><%= data.content %></th>
			</tr>
	</table>
			<button><a href="/angel/angeledit?idx=<%=data.idx %>">수정</a></button>
			<button><a href="/angel/angeldel?idx=<%=data.idx %>">삭제</a></button>
	<hr />
<div>
<script>
function fn_showContent(idx){
	alert("dddd");
};
</script>	
