<!DOCTYPE html>
<html>
  <head>
    <title>관리자 페이지</title>
    <link rel='stylesheet' href='/public/stylesheets/admin.css' />
  </head>
  <body>
    <h1 class="hidden">관리자 페이지</h1>
    <div class="header">
	    <div class="content-wrapper">
	    	<ul class="member-info">
	    		<li><%= session.name %>님 반갑습니다</li>
	    		<li><a href="/logout" target="_self">로그아웃</a></li>
	    	</ul>
    	</div>
   	</div>
   	<div class="main">
	   	<div class="content-wrapper">
	   		<div class="submenu">
		   		<ul>
		   			<a href="/admin/memberList"><li>회원관리</li></a>
		   			<a href="/admin/modMainImg"><li class="selected">메인이미지관리</li></a>
		   		</ul>
	   		</div>
	   		<div class="content">
	   			<table class="main-imgs">
	   				<colgroup>
	   					<col style="width:50px" />
	   					<col style="width:200px" />
	   					<col style="width:250px" />
	   					<col style="width:*" />
	   					<col style="width:100px" />
	   				</colgroup>
	   				<thead>
		   				<tr>
		   					<th>순서</th>
		   					<th>파일명</th>
		   					<th>제목</th>
		   					<th>내용</th>
		   					<th>수정</th>
		   				</tr>
	   				</thead>
	   				<tbody>
	   					<% data.forEach(function (item, index) { %>
	   					<form name="frm<%= index %>"method="post" action="/admin/modifyMainImg">
		   				<tr>
		   					<td class="center">
		   						<input type="hidden" value="<%= item.idx %>" />
		   						<%= index + 1 %>
		   					</td>
		   					<td><%= item.file_name %></td>
		   					<td>
		   						<input type="text" value="<%= item.title %>" name="title" class="inp-mod" />
		   						<span class="cont-mod" id="titleMod<%= index %>"><%= item.title %></span>
		   					</td>
		   					<td>
		   						<input type="text" value="<%= item.paragraph %>" name="paragraph" class="inp-mod" />
		   						<span class="cont-mod" id="paragraphMod<%= index %>"><%= item.paragraph %></span>
		   					</td>
		   					<td class="center">
		   						<span id="btn-mod<%= index %>" class="btn-mod" onclick="modifyImage(frm<%= index %>,<%= index %>)">수정</span>
		   						<span id="btn-del<%= index %>" class="btn-mod" onclick="deleteImage(<%= item.idx %>)">삭제</span>
		   						<span id="btn-sub<%= index %>" class="btn-submit" onclick="submitImage(<%= item.idx %>)">확인</span>
		   						<span id="btn-cle<%= index %>" class="btn-submit" onclick="cancelMod(frm<%= index %>,<%= index %>)">취소</span>
		   					</td>
		   				</tr>
		   				</form>
		   				<% }); %>
		   				<tr>
		   					<td colspan="5"></td>
		   				</tr>
	   				</tbody>
	   				<tfoot>
		   				<tr>
		   					<th colspan="5">
								<form method="post" action="/admin/uploadMainImg" enctype="multipart/form-data">
									<input type="file" name="uploadFile" />
				   					<input type="text" name="title" placeholder="제목" />
				   					<input type="text" name="paragraph" placeholder="내용" />
					   				<input type="submit" name="upload" value="파일올리기" class="file-submit" />
				   				</form>
							</th>
		   				</tr>
	   				</tfoot>
	   			</table>
	   		</div>
	   	</div>
   	</div>
   	<div class="footer">
    	
   	</div>
	<script type="text/javascript">
		function modifyImage(frm,idx) {
			frm.title.style.display = 'inline';
			frm.paragraph.style.display = 'inline';
			document.getElementById("titleMod"+idx).style.display = 'none';
			document.getElementById("paragraphMod"+idx).style.display = 'none';
			document.getElementById("btn-mod"+idx).style.display = 'none';
			document.getElementById("btn-del"+idx).style.display = 'none';
			document.getElementById("btn-sub"+idx).style.display = 'inline';
			document.getElementById("btn-cle"+idx).style.display = 'inline';
		}
		
		function cancelMod(frm,idx) {
			frm.title.style.display = 'none';
			frm.paragraph.style.display = 'none';
			document.getElementById("titleMod"+idx).style.display = 'inline';
			document.getElementById("paragraphMod"+idx).style.display = 'inline';
			document.getElementById("btn-mod"+idx).style.display = 'inline';
			document.getElementById("btn-del"+idx).style.display = 'inline';
			document.getElementById("btn-sub"+idx).style.display = 'none';
			document.getElementById("btn-cle"+idx).style.display = 'none';
		}
   		
   		function deleteImage(idx) {
   			if(confirm('삭제하시겠습니까?')) {
   				location.href="/admin/deleteMainImg/" + idx;
   			}
   		}
   	</script>
  </body>
</html>