<!DOCTYPE html>
<html>
  <head>
    <title>edit Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>edit Page</h1>
    <hr />
    <form method="post" action='/edit/+<%= data.id %>'>
    <fieldset>
    	<legend>edit DATA</legend>
    	<table>
    		<tr>
    			<td><label>ID</label></td>
    			<td><input type="text" name="id" value="<%= data.id %>" disabled /></td>
    		</tr>
    		<tr>
    			<td><label>Name</label></td>
    			<td><input type="text" name="name" value="<%= data.name %>" /></td>
    		</tr>
    		<tr>
    			<td><label>Model number</label></td>
    			<td><input type="text" name="modelnumber" value="<%= data.modelnumber %>" /></td>
    		</tr>
    		<tr>
    			<td><label>series</label></td>
    			<td><input type="text" name="series" value="<%= data.series %>" /></td>
    		</tr>
    	</table>
    	<input type="submit">
    	</form>
  </body>
</html>