<% include layout/header.ejs %>
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="#">Men</a><i class="icon-angle-right"></i></li>
					<li class="active">IT</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<div class="container">
		<p>둘기</p>
		<h1>LIST PAGE</h1>
		<hr/>
		<table class="board">
			<tr>
				<th>delete</th>
				<th>edit</th>
				<th>id</th>
				<th>name</th>
				<th>model number</th>
				<th>series</th>
			</tr>
			<% data.forEach(function (item, index) { %>
			<tr>
				<td><a href="/delete/<%= item.id %>">delete </a></td>
				<td><a href="/edit/<%= item.id %>">edit </a></td>
				<td><%= item.id %></td>
				<td><%= item.name %></td>
				<td><%= item.modelnumber %></td>
				<td><%= item.series %></td>
			</tr>
			<% }); %>
		</table>
		<a href="/insert">글쓰기</a>
		<hr />
		<a href="/grid/" >go grid</a><span> | </span>
		<a href='javascript:fn_move();'>move</a>
	</div>
<script>
function fn_move(){
	alert("dddd");
};
</script>	
<% include layout/foot.ejs %>	
